
html {
    background: url(bg.jpg);
}

body {
    font-family: "Georgia", "Times New Roman", serif;
    letter-spacing: 1.5px;

    margin-left: auto;
    margin-right: auto;

    width: 62%;
    min-width: 900px;
}

a, a:visited {
    color: black;
    border: none;
}

a:hover {
    color: red;
}

h1 a, h1 a:visited, h1 a:hover {
    color: black;
    text-decoration: none;
}

#header h1 {
    font-size: 2.5em;
}

#body {
    background-color: white;
    border: solid 1px #d3d3d3;

    padding: 0 20px 20px 20px;

    min-height: 400px;
}

#navcontainer {
    float: right;
}

#navcontainer a {
    display: inline-block;
    border: solid 1px gray;
    padding: 10px;
    margin: 5px 3px 3px 3px;

    background: #eee;

    text-decoration: none;
}

#postscontainer {
    clear: right;
    float: right;

    margin-left: 10px;
    border-left: solid 1px lightgray;
    padding-left: 10px;

    padding-bottom: 20px;
}

#postscontainer a.postlink {
    text-decoration: none;
}

#postscontainer .posttitle {
    font-weight: bolder;
}

#postscontainer .postdate {
    font-size: 0.7em;
    color: gray;
}


.warn {
    background-color: #ffb6c1;
}

.warn.block {
    padding: 10px;
}

img.thumbnail {
    border: solid 5px #d3d3d3;
}

.inline-anchors a {
    position: relative;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.floatclearboth {
    clear: both;
}

div.example_block {
    float: left;

    margin-right: 30px;
}

div.example_block a {
    display: block;
}

div.example_block a.compare {
    color: gray;
}

div.example_block a.compare:hover {
    color: red;
}

code {
    letter-spacing: 0;
    font-size: 0.9em;
}

.gist {
    font-size: 0.75em;
    letter-spacing: 0;
}

#footer {
    font-size: 0.7em;
    color: gray;
}
