<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <title>{{ page.title }}</title>

    <link href="/site.css" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31349418-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div id="header">
    <h1><a href="/">d3<sup>4</sup>raphael</a></h1>
    <h2>d3 with support for Raphael</h2>
</div>
<div id="body">
    <div id="navcontainer">
        <a href="/examples.html">Examples</a>
        <a href="/usage.html">Usage</a>
	<a href="/api/index.html" target="_blank">API</a>
        <a href="/help.html">Help Us</a>
    </div>

    <div id="postscontainer">
        <h3>Updates + News:</h3>
        {% for post in site.posts limit:5 %}
        {% include post_oneliner.html %}
        {% endfor %}
    </div>

    {{ content }}
</div>
<div id="footer">
    <p>d3: Copyright 2012 <a href="http://bost.ocks.org/mike/">Michael Bostock</a> - <a href="http://opensource.org/licenses/BSD-3-Clause">BSD license</a></p>
    <p>raphael: Copyright 2012 <a href="http://dmitry.baranovskiy.com/">Dmitry Baranovskiy</a> - <a href="https://github.com/webmonarch/raphael/blob/master/license.txt">MIT license</a></p>
    <p>d3<sup>4</sup>raphael: Copyright 2012: <a href="https://github.com/webmonarch">Eric Webb</a> - <a href="http://opensource.org/licenses/BSD-3-Clause">BSD license</a></p>
</div>
</body>
</html>
